﻿
@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<div class="row">
    <h3>Search Employee by ID</h3>
    <input type="text" id="prodId" size="5" data-bind="value:koModel.vEmployee().idSearch" />
    <input type="button" onclick="findEmployee();" value="Get Employees" />
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <table id="table1" class="table table-striped table-hover table-fw-widget dataTable no-footer" role="grid" aria-describedby="table1_info">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Id</th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Name</th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Contract Type Name</th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Role Name</th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Role Description</th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Hourly Salary</th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Monthly Salary</th>
                    <th class="sorting" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Annual Salary</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:listEmployees">
                <tr class="gradeA odd" role="row">
                    <td data-bind="text:id"></td>
                    <td data-bind="text:name"></td>
                    <td data-bind="text:contractTypeName"></td>
                    <td data-bind="text:roleName"></td>
                    <td data-bind="text:roleDescription"></td>
                    <td data-bind="text:hourlySalary"></td>
                    <td data-bind="text:monthlySalary"></td>
                    <td data-bind="text:annualSalary"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

@section ImportacionesJS {
    <script src="@Url.Content("~/Scripts")/knockOut/InitConfigKO.js"></script>
    <script src="@Url.Content("~/Scripts")/knockOut/FunctionsKO.js"></script>
    <script src="@Url.Content("~/Scripts")/knockOut/EmployeeKO.js"></script>
}

@section InvocacionesJS {
    koModel.vEmployee = ko.observable(new Employee()) ;

    ko.applyBindings(koModel);
}
